@model RehberUygulamasi.Models.Sehir

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detaylar</h1>

<div>
    <h4>Sehir</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SehirAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SehirAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SehirKodu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SehirKodu)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Güncelle</a> |
    <a asp-action="Index">Listeye geri dön</a>
</div>
