@model RehberUygulamasi.Models.KisiGuncelle
@{
    ViewData["Title"] = "Guncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Rehber Kişi Güncelle</h1>

@using (Html.BeginForm("Guncelle", "Kisi", FormMethod.Post, new { @class = "form-horizontal" }))
{

    @Html.HiddenFor(x => x.Kisi.Id)
    <div class="form-group">
        @Html.LabelFor(x => x.Kisi.Ad)
        @Html.TextBoxFor(x => x.Kisi.Ad, null, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Kisi.Soyad)
        @Html.TextBoxFor(x => x.Kisi.Soyad, null, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Kisi.EvTelefon)
        @Html.TextBoxFor(x => x.Kisi.EvTelefon, null, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Kisi.IsTelefon)
        @Html.TextBoxFor(x => x.Kisi.IsTelefon, null, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Kisi.EmailAdres)
        @Html.TextBoxFor(x => x.Kisi.EmailAdres, null, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Kisi.Adres)
        @Html.TextAreaFor(x => x.Kisi.Adres,2, 1, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Şehir</label> <br />
        @Html.DropDownListFor(x => x.Kisi.SehirId, new SelectList(Model.Sehirler, "Id", "SehirAdi"), new { @class = "form-control" })
    </div>
    <input type="submit" class="btn btn-primary" value="Güncelle" />
}